.gallery {
    text-align: center;
    margin: 20px;
  }
  
  .gallery h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .image-container {
    display: flex;
    justify-content: space-between;
  }
  
  .image-container img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border: 1px solid #ccc;
  }